@import "../../../../styles/colors";

:host {
    display: flex;
    flex-flow: column;
    font-size: 16px;
    font-weight: 500;
    padding: 0 16px;
    border-bottom: 1px solid $foreColorMedium;
    overflow: hidden;

    & > a {
        padding: 0 16px;
        margin: 0 -16px;
        transition: all 150ms;
        padding-left: 20px;

        display: flex;
        align-items: center;
        height: 60px;
        text-decoration: none;
        color: inherit;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            height: 100vw;
            left: 0;
            top: 0;
            width: 4px;
            background: transparent;
        }

        &.active {
            font-weight: 700;
            &:before {
                background: $accentColorLight;
            }
        }

        &:not(.active):hover {
            color: $foreColorDark;
            background: $backColorMedium;
            padding-left: 20px;
            cursor: pointer;
        }

        &:not(.active) + .subitems {
            display: none;
        }
    }

    @media (max-width: 1200px) {
        border-bottom: none;
    }
}

.fa-icon {
    font-size: 24px;
    width: 40px;
    margin-right: 12px;
    text-align: center;
}

.subitems {
    transition: all 150ms;
}
