@import "../../../../styles/colors";

.wrapper {
    display: block;
    width: 300px;
    height: 100%;
    background: $backColor;
    color: $foreColor;
    overflow: auto;
    border-right: 1px solid $foreColorMedium;
    z-index: 100;

    @media (max-width: 1200px) {
        position: fixed;
        left: 0;
        top: 0;

        transform: translateX(-100%);
        transition: transform 300ms;

        &.visible {
            transform: translateX(0);
        }
    }

    @media (max-width: 550px) {
        width: 100%;
    }
}

.hide-nav-bar {
    visibility: hidden;
    transition: 300ms all;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($backColorMediumDark, 50%);
    z-index: 100;
    cursor: pointer;
    
    @media (max-width: 1200px) {
        &.visible {
            visibility: visible;
            opacity: 1;
        }
    }
}

h1 {
    font-size: 26px;
    padding: 18px 28px;

    border-bottom: 1px solid $foreColorMedium;


    @media (max-width: 1200px) {
        position: sticky;
        background-color: inherit;
        z-index: 102;
        top: 0;
        height: initial;
        padding-left: 70px;
        font-size: 20px;
        font-weight: 900;

        padding-top: 14px;
        padding-bottom: 10px;
        height: initial;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 64px;

        div {
            display: none;
        }

        &:before {
            content: "CuteTix";
        }
    }
}

nav {
    display: flex;
    flex-flow: column;
}

.toggle-button {
    position: fixed;
    z-index: 103;
    left: 10px;
    top: 14px;
    width: 40px;
    height: 40px;
    color: inherit;
    background-color: inherit;
    background: $backColor;
    color: $foreColor;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 18px;
    cursor: pointer;

    @media (max-width: 1200px) {
        display: block;
    }
}

.mobile-only {
    @media (min-width: 1199px) {
        display: none;
    }
}
