<button class="default-style toggle-button" (click)="toggle()">
  @if (!visible) {
    <i class="fas fa-bars"></i>
  }
  @if (visible) {
    <i class="fas fa-times"></i>
  }
</button>
<div class="hide-nav-bar {{visible ? 'visible' : ''}}" (click)="hide()"></div>
<div class="wrapper {{visible ? 'visible' : ''}}">
  <h1>
    <div>CuteTix</div>
    <div>Admin</div>
  </h1>
  <nav>
    @for (item of availableItems; track item) {
      <app-nav-bar-item [item]="item">
        @for (subItem of item.subItems; track subItem) {
          <app-nav-bar-subitem [name]="subItem.name" [link]="subItem.link" (click)="hide()">
          </app-nav-bar-subitem>
        }
      </app-nav-bar-item>
    }
  </nav>
</div>
