@import "../../styles/colors";

:host {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $backColor;

    display: grid;
    grid-template-rows: 1fr auto 1fr 1fr;
    grid-template-areas:
        "title"
        "error"
        "window"
        ".";

    @media (max-width: 650px) {
        grid-template-rows: auto auto;
        align-items: initial;
    }
}

.title {
    color: $foreColor;
    font-size: 56px;
    z-index: 1;
    grid-area: "title";
    text-align: center;
    margin: auto;

    @media (max-width: 900px) {
        font-size: 36px;
    }

    @media (max-width: 650px) {
        margin-top: 50px;
    }
}

h2 {
    margin: 0;
    margin-top: -24px;
    margin-bottom: 16px;
    padding: 0;
    font-size: 28px;
    background: none;
    height: auto;
    box-shadow: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.title,
.error,
.window {
    animation: 500ms fadeIn;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

.error {
    margin-top: auto;
    z-index: 1;
    width: 100%;
    grid-area: error;
    text-align: center;
    p {
        background-color: rgba($color: red, $alpha: 0.15);
        max-width: 55%;
        padding: 1.5rem;
    }
}

.window {
    z-index: 1;
    max-width: 550px;
    width: 100%;
    padding: 64px 16px;
    padding-bottom: calc(64px - 32px);
    color: $foreColorDark;
    background: $backColorMedium;
    box-shadow: 0 0 70px rgba($color: $foreColor, $alpha: 0.15);
    text-align: center;
    grid-area: window;
    margin: auto;
    animation-delay: 350ms;

    @media screen and (max-width: 666px) {
        max-width: 333px;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin: 0px auto 24px auto;
        margin-bottom: 24px;

        input {
            border: 2px solid black;
            font-size: 1.5rem;
            line-height: 1rem;
            padding: .5rem .75rem;
            min-height: 15px;
            min-width: 250px;
            margin: .25rem;
            text-align: center;
            outline: none;

            // sudo mode
            &.password {
                color: transparent;
                &:focus-within {
                    color: transparent;
                    &::selection {
                        color: transparent;
                    }
                }
            }
            
            &:focus-within {
                border: 2px solid rgba($color: black, $alpha: .75);
                background-color: rgba($color: black, $alpha: .25);
                color: $foreColor;
                &::placeholder {
                    color: $foreColor;
                }
            }
        }

        button {
            max-width: 99%;
            margin: 10px 0px;
        }
    }
}

p {
    font-size: 20px;
    line-height: 1.75;
    max-width: 400px;
    margin: auto;
    margin-bottom: 24px;

    &.wait-text {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 16px;
        min-width: 100%;
        z-index: 10000;

        animation: 300ms fadeIn;
        animation-fill-mode: backwards;

        &>span {
            max-width: 500px;
            width: 100%;
            display: block;
            margin: auto;
            background-color: $dangerColorDark;
            color: $foreColor;
            padding: 24px 32px;
            text-align: center;
            box-shadow: 0 0 70px rgba($color: $foreColor, $alpha: 0.15);
        }
    }

    @media (max-width: 650px) {
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 24px;
    }
}

button.large {
    margin-bottom: 32px !important;
    min-width: 160px;

    .fa-spin {
        margin: 0;

        &::before {
            transform: scale(1.4);
            display: block;
        }
    }
}