@import "../../../styles/colors";

:host {
    position: absolute;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    background: rgba($color: white, $alpha: .15);
    background: linear-gradient(-45deg, $backColorMedium 0%, $backColor 45%);

}

fa-icon {
    font-size: 3rem;
    animation: fa-spin 1s infinite linear !important;
}