@import "../../styles/colors";

:host {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "title"
        "window"
        ".";
    align-items: center;

    @media (max-width: 650px) {
        grid-template-rows: auto auto;
        align-items: initial;
    }
}

.title {
    font-size: 56px;
    z-index: 1;
    text-align: center;
    grid-area: title;

    @media (max-width: 900px) {
        font-size: 36px;
    }

    @media (max-width: 650px) {
        margin: auto;
        margin-top: 50px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(.75);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.title,
.window {
    animation: 500ms fadeIn;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

.window {
    z-index: 1;
    max-width: 550px;
    width: 100%;
    text-align: center;
    grid-area: window;
    margin: auto;
    animation-delay: 350ms;

    @media (max-width: 650px) {
        max-width: 100vw;
        margin: 0;
    }
}

p {
    font-size: 20px;
    line-height: 1.75;
    max-width: 400px;
    margin: auto;
    margin-bottom: 48px;

    @media (max-width: 650px) {
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 24px;
    }
}