<div class="user">
    <p class="name">{{name}}</p>
    <div class="picture">
        <i class="fas fa-user fa-icon"></i>
    </div>
</div>

<div class="details">
    <div class="info" label="Name">{{name}}</div>
    <div class="info" label="Username">{{username}}</div>
    <div class="info" label="E-mail">{{email}}</div>
    <div class="info" label="E-mail verified">{{email_verified}}</div>
    <div class="button-container">
        <button (click)="toggleTheme()">Switch theme</button>
        <button (click)="logout()">
            <i class="fas fa-sign-out-alt fa-icon"></i>
            Log out
        </button>
        <button disabled>
            My profile
        </button>
    </div>
</div>