@use "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@use "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@use "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@use "ngx-toastr/toastr";

/**
 * Global styles
 */

@use "./styles/colors" as *;
@use "styles/fonts" as *;
@use "styles/typography";
@use "styles/button";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

    &:focus {
        outline: none;
    }
}

body {
    user-select: none;
    background: $backColor;
    color: $foreColor;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

// class for light mode defined in colors file

body.alt-font {
    font-family: "Open Sans";
}

// @import "styles/filters";
// @import "styles/table";
// @import "styles/form";

.search {
    display: inline-flex;

    section {
        margin-left: 10px;
    }

    select {
        width: 350px;
    }
}
